<div class='app-container'>
  <mat-card class='header'>
    <calendar></calendar>
  </mat-card>

  <div class='main-content-container'>

    <mat-card class='grid-child left'>
      <mat-card-header class="resources-header">
        <mat-card-title style="display: block;">Resources</mat-card-title>
      </mat-card-header>
      <div class='asdf'>
        <resource [resource]="resourceTemp"></resource>
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list-item *ngFor="let r of resources;">
          <resource [resource]="r"></resource>
        </mat-list-item>
        <button (click)="flipDisplayTab()" mat-raised-button>Show Stats</button>
      </mat-card-content>
    </mat-card>

    <mat-card class='grid-child center-top'
      style="border-style: solid; border-width: 3px; border-color: rgb(103, 58, 183);"
      >
      <img src="../assets/iguana.jpg" />
    </mat-card>

    <mat-card class='grid-child center-bottom'>
      <mat-card-header>
        <mat-card-title>
          Shop
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card class='grid-child right'>
      <mat-tab-group>
        <mat-tab label="Events">
          <mat-card-content>
            Events tab
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Iguana">
          <mat-card-content>
            Iguana tab
          </mat-card-content>
        </mat-tab>
        <mat-tab *ngIf="displayTab" label="Stats">
          <mat-card-content>
            Stats tab
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>
