<div class='app-container'>

  <app-header></app-header>
  <div class='main-content-container'>
    <!-- Left-most card: Resources -->
    <resource-list class="left"></resource-list>

    <!-- Upper middle card: Iguana view -->
    <mat-card class='center-top'
      style="border-style: solid; border-width: 2px; border-color: rgb(103, 58, 183);"
      >
      <img src="../assets/iguana.jpg" />
    </mat-card>

    <!-- Lower middle card: Shop -->
    <shop class="center-bottom"></shop>

    <!-- Right-most card view: Tab Menu -->
    <mat-card class='right scrollable'>
      <mat-tab-group>
        <mat-tab label="Events">
          <mat-card-content>
            {{lmim}}
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Iguana">
          <mat-card-content>
            Iguana tab
          </mat-card-content>
        </mat-tab>
        <mat-tab *ngIf="displayTab" label="Stats">
          <mat-card-content>
            Stats tab
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>
